#btnMenuMobile {
  display: none;
}

@media only screen and (max-width: 880px) {
  #servicesContent ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  #navHeader {
    display: block;
    visibility: hidden;
    background-color: rgb(239, 103, 245, 0.9);
    position: absolute;
    width: 40%;
    height: 0;
    top: 75px;
    right: 0px;
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 1000;
  }

  #navHeader a {
    padding: 1.5rem 2rem;
    justify-content: right;
  }

  #nav.active #navHeader {
    visibility: visible;
    overflow-y: auto;
    height: calc(100vh - 70px);
  }

  #btnMenuMobile {
    display: flex;
    cursor: pointer;
  }

  #hamburgerIcon {
    color: white;
    border-top: 2px solid;
    width: 30px;
  }

  #hamburgerIcon::after,
  #hamburgerIcon::before {
    content: '';
    display: block;
    background: currentColor;
    width: 30px;
    height: 2px;
    margin-top: 8px;
    position: relative;
    transition: 0.3s;
  }

  #nav.active #btnMenuMobile #hamburgerIcon {
    border-top-color: transparent;
  }

  #nav.active #hamburgerIcon::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburgerIcon::after {
    transform: rotate(-135deg);
    top: -10px;
  }

  .about-image {
    display: none;
  }

  #diferenciais {
    height: 100%;
  }

  #diferenciaisContent ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #diferenciaisContent ul li {
    width: 100%;
  }

  #services {
    height: 100%;
  }

  #servicesContent ul li {
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  #diferenciaisContent ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #servicesContent ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 490px) {
  #navHeader {
    width: 80%;
  }

  #about {
    height: 100%;
  }

  .about-image {
    display: none;
  }

  #aboutContent {
    flex-direction: column;
    align-items: center;
  }

  #diferenciais {
    height: 100%;
  }

  #diferenciaisContent ul {
    display: grid;
    grid-template-columns: 1fr;
  }

  #diferenciaisContent ul li {
    width: 100%;
  }

  #services {
    height: 100%;
  }

  #servicesContent ul li {
    width: 100%;
  }

  #contact {
    height: 100%;
  }

  #contactContainer {
    display: flex;
    flex-direction: column;
  }

  #contactInfo,
  #contactForm {
    width: 100%;
  }

  #contactForm {
    margin-top: 1.5rem;
  }

  #containerCopyright {
    height: 100%;
  }
}
