/* Reset ---------------------------------------------------------*/
* {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
}
/* Reset ---------------------------------------------------------*/

html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
}

#containerHeader {
  width: 100%;
  height: 500px;
  background: url(../img/background.jpg) center center no-repeat fixed;
  background-size: cover;
}

#containerHeader, .rowFlex a, .rowGrid button {
  color: white;
}

.backgroundFilter {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header, h1, footer, #contact p, #contact button {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: transparent;
  transition: all 0.4s ease;
  width: 100%;
  height: 75px;
  margin-top: -500px;
  margin-bottom: 425px;
  padding: 0 5%;
  top: 0;
  position: sticky;
}

.headerTranslucentColor {
  background-color: rgb(250,250,250, 0.4);
  transition: all 0.4s ease;
}

.headerSolidColor {
  background-color: rgb(239, 103, 245, 0.8);
  transition: all 0.4s ease;
}

header a p{
  margin-left: 15px;
  font-size: 1.5rem;
}

header p span {
  font-size: 0.9rem;
}

.rowFlex, .rowGrid {
  max-width: 1040px;
  margin: 0 auto;
}

.rowFlex, ul, a, .imageLogo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageLogo {
  margin-right: auto;
}

#navHeader {
  padding-right: 10px;
  gap: 2rem;
}

#navHeader li a{
  width: calc(100% + 22px);
  height: 40px;
}

#navHeader li a:hover {  
  color: white;
  opacity: 0.8;
}

.hover-border {
  color: white;
  text-decoration: none;
  position: relative;
}

.hover-border::after {
  content: '';
  width: 0%;
  height: 3px;
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: 0%;
  left: 50%;
  border-radius: 10px;
  transition: all 500ms ease;
}

.hover-border:hover::after {
  left: 0%;
  width: 100%;
}

#rowGrid01 {
  height: calc(100% + 75px);
}

#rowGrid01 h1, #rowGrid01 p, #rowGrid01 button {
  margin-bottom: 3rem;
}

#rowGrid01 button {
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 5px;
  width: 175px;
  height: 35px;
  background-color: rgb(63, 61, 85, 0.5);
  cursor: pointer;
  transition: all 500ms ease;
}

#rowGrid01 button:hover {
  border-radius: 5px;
  border: 2px solid #f065fa;
  background-color: #f065fa;
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.rowGrid {
  height: 100%;
  display: grid;
  align-content: center;
  align-items: center;
  text-align: center;
}

/* Main ---------------------------------------------------------*/
main {
  width: 100%;
  padding-top: 5rem;
}

.rowSession {
  height: 350px;
}

.rowSession div {
  height: 100%;
}

.rowSession h2 {
  margin-bottom: 2rem;
  text-align: justify;
  color: #3f3d55;
}

/* Main > Session About -----------------------------------------*/
#about {
  height: 500px;
  padding: 0 5%;
}

#aboutContainer {
  max-width: 1040px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

#aboutContainer h2 {
  color: #3f3d55;
  margin: 0 0 1.5rem 0;
}

#aboutContent {
  display: flex;
  gap: 3rem;
}

#aboutContent p {
  color: #3f3d55;
  text-align: justify;
}

#aboutContent img {
  border-top: 8px solid #f065fa;
  border-right: 8px solid #f065fa;
  border-radius: 50%;
}
/* Main > Session About -----------------------------------------*/

/* Main > Session Diferenciais ----------------------------------*/
#diferenciais {
  background: url(../img/background_section_diferenciais.jpg) center center no-repeat fixed;
  background-size: cover;
  height: 700px;
  padding: 0 5%;
}

#diferenciaisContainer {
  color: white;
  max-width: 1040px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

#diferenciaisContent ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#diferenciaisContent ul li {
  background: rgb(0,0,0,0.2);
  width: 33%;
  height: 250px;
  margin-top: 1.5rem;
  border: 2px solid transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: border 0.2s;
}

#diferenciaisContent ul li:hover {
  border: 2px solid #f065fa;
}

#diferenciaisContent ul li p {
  margin-top: 3rem;
}
/* Main > Session Diferenciais ----------------------------------*/

/* Main > Session Services --------------------------------------*/
#services {
  color: white;
  background-color: #fbeffc;
  height: 1600px;
  padding: 0 5%;
}

#services h2 {
  color: #3f3d55;
  margin: 0 0 1.5rem 0;
}

#services h3 {
  font-size: 1.5rem;
}

#servicesContainer {
  max-width: 1040px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

#servicesContent ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#servicesContent ul li {
  width: 33%;
  height: 450px;
  margin-top: 1.5rem;
  border: 2px solid #f065fa;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  transition: border 0.2s;
}

#servicesContent ul li div {
  background-color: rgb(63, 61, 85, 0.5);
  width: 100%;
  padding: 1rem;
}

#servicesContent ul li a {
  color: white;
  font-size: 1rem;
  background-color: #f065fa;
  width: 100%;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 0 0 5px 5px;
  transition: border, box-shadow 0.4s ease;
}

#servicesContent ul li a:hover {
  border: 1px solid #f065fa;
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

#service_01 {
  background: url(../img/service_01.jpg) no-repeat;
}
#service_02 {
  background: url(../img/service_02.jpg) no-repeat;
}
#service_03 {
  background: url(../img/service_03.jpg) no-repeat;
}
#service_04 {
  background: url(../img/service_04.jpg) no-repeat;
}
#service_05 {
  background: url(../img/service_05.jpg) no-repeat;
}
#service_06 {
  background: url(../img/service_06.jpg) no-repeat;
}

#service_07 {
  background: url(../img/service_07.jpg) no-repeat;
}
/* Main > Session Services --------------------------------------*/

/* Main > Session Gallery ---------------------------------------*/
#gallery {
  background-color: white;
  height: 520px;
  padding: 0 5%;
}

#gallery h2 {
  color: #3f3d55;
  margin: 0 0 1.5rem 0;
}

#galleryContainer {
  max-width: 1040px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  overflow: hidden;
}

#galleryPhotos {
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#galleryPhotos img {
  margin: 0.2rem;
  border-radius: 5px;
  width: 4.8%;
  box-shadow: 0 5px 7px 0 rgba(0,0,0,0.24);
}

@keyframes animacao {
  0% { margin-left: 0;}
  20% {margin-left: 0; }
  25% { margin-left: -100%;}
  45% { margin-left: -100%;}
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  75% { margin-left: -300%}
  95% {margin-left: -300%;}
  100% {margin-left: -400%;}
}
/* Main > Session Gallery ---------------------------------------*/

/* Main > Session Contact ---------------------------------------*/
#contact {
  background-color: #3f3d55;
  color: white;
  height: 500px;
  padding: 0 5%;
}

#contact h2 {
  font-size: 2rem;
  margin: 0 2rem 2rem 0;
}

#contact h2 span {
  color: #f065fa;
}

#contactContainer {
  max-width: 1040px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
}

#contactInfo {
  width: 60%;
}

#viewMap {
  color: #3f3d55;
  font-size: 0.8rem;
  background-color: #f065fa;
  margin-top: 1rem;
  border-radius: 5px;
  width: 120px;
  height: 45px;
  transition: all 500ms ease;
}

#contactForm {
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

form input, textarea {
  margin-bottom: 1rem;
  padding: 0.7rem 0.5rem;
  background-color: #fbeffc;
  border-radius: 5px;
  transition: border-color, box-shadow 0.2s;
}

form input {
  height: 45px;
}

form textarea {
  height: 100px;
  min-height: 100px;
  max-height: 225px;
  resize: vertical;
}

form input:hover, form input:focus, form textarea:hover, form textarea:focus {
  outline: none;
  border-color: #f065fa;
  box-shadow: 0 0 0 2px #f065fa;
}

form button {
  color: #3f3d55;
  font-size: 0.9rem;
  background-color: #f065fa;
  height: 45px;
  width: 100%;
  border: 1px solid #f065fa;
  border-radius: 5px;
  transition: all 500ms ease;
}

#viewMap:hover, form button:hover {
  color: white;
  border: 1px solid #f065fa;
  background-color: #f065fa;
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
/* Main > Session Contact ---------------------------------------*/
/* Main ---------------------------------------------------------*/

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  color: #f065fa;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Footer ---------------------------------------------------------*/
footer {
  width: 100%;
  padding: 2rem 5%;
  background-color: #fbeffc;
}

footer a p {
  margin-left: 10px;
  font-size: 1rem;
  color: #f065fa;
}

#footerSocial {
  gap: 0.5rem;
}

#footerSocial li a{
  width: 40px;
  height: 40px;
  transition: all 500ms ease;
}

#footerSocial li a:hover {
  border-radius: 50%;
  background-color: rgb(240, 101, 250, 0.3);
}
/* Footer ---------------------------------------------------------*/

/* Footer - Copyright ---------------------------------------------*/
#containerCopyright {
  font-size: 0.9rem;
  background-color: #3f3d55;
  color: #f065fa;
  width: 100%;
  height: 40px;
  padding: 0 5%;
}

#containerCopyright p {
  margin-right: auto;
}
/* Footer - Copyright ---------------------------------------------*/
