/* Reset ---------------------------------------------------------*/
* {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
}
/* Reset ---------------------------------------------------------*/

html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#containerHeader {
  width: 100%;
  height: 500px;
  background: url(../img/background_02_1.jpg) center center no-repeat fixed;
  background-size: cover;
}

#containerHeader, .rowFlex a, .rowGrid button {
  color: white;
}

.backgroundFilter {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header, h1, footer {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  width: 100%;
  height: 75px;
  padding: 0 5%;
  /* Background alternativo para header. */
  /*background-color: rgb(250,250,250, 0.4);*/
}

header a p{
  margin-left: 15px;
  font-size: 1.5rem;
}

header p span {
  font-size: 0.9rem;
}

.rowFlex, .rowGrid {
  max-width: 1040px;
  margin: 0 auto;
}

.rowFlex, ul, a, .imageLogo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageLogo {
  margin-right: auto;
}

#navHeader {
  padding-right: 10px;
  gap: 2rem;
}

#navHeader li a{
  width: calc(100% + 22px);
  height: 40px;
}

#navHeader li a:hover {  
  background-color: rgb(255, 255, 255, 0.3);
}

#rowGrid01 {
  height: calc(100% - 75px);
}

#rowGrid01 h1, #rowGrid01 p, #rowGrid01 button {
  margin-bottom: 3rem;
}

#rowGrid01 button {
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 5px;
  width: 175px;
  height: 35px;
  background-color: rgb(63, 61, 85, 0.5);
  cursor: pointer;
}

#rowGrid01 button:hover {
  border-radius: 5px;
  border: 2px solid #f065fa;
  background-color: #f065fa;
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.rowGrid {
  height: 100%;
  display: grid;
  align-content: center;
  align-items: center;
  text-align: center;
}

/* Main ---------------------------------------------------------*/
main {
  width: 100%;
  padding: 5rem 5%
}

.rowSession {
  height: 350px;
}

.rowSession div {
  height: 100%;
}

.rowSession h2 {
  margin-bottom: 2rem;
  text-align: justify;
  color: #3f3d55;
}

.rowSession h2:before {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #f065fa;
  margin: 0;
}

.rowSession h2:after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #f065fa;
  margin: 0 0 0 50px;
}

.rowSession p {
  margin: 2rem 2rem 0 0;
  text-align: justify;
  color: #555555;
}
/* Main ---------------------------------------------------------*/

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Footer ---------------------------------------------------------*/
footer {
  width: 100%;
  padding: 2rem 5%;
  background-color: #fbeffc;
}

footer a p {
  margin-left: 10px;
  font-size: 1rem;
  color: #f065fa;
}

#footerSocial {
  gap: 0.5rem;
}

#footerSocial li a{
  width: 40px;
  height: 40px;
}

#footerSocial li a:hover {
  border-radius: 50%;
  background-color: rgb(240, 101, 250, 0.3);
}
/* Footer ---------------------------------------------------------*/

/* Footer - Copyright ---------------------------------------------*/
#containerCopyright {
  font-size: 0.9rem;
  background-color: #3f3d55;
  color: #f065fa;
  width: 100%;
  height: 40px;
  padding: 0 5%;
}

#containerCopyright p {
  margin-right: auto;
}
/* Footer - Copyright ---------------------------------------------*/
